@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,ol {
	list-style: none;
}
a {
	text-decoration: none;
}
@font-face {
  font-family: 'SANGJUGyeongcheonIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* figure */
figure {width: 100%;height: 550px;position: relative;overflow: hidden;}
figure video {width: 100%; height: 550px; opacity: 0.3;position: absolute;}
section{
	width: 100%;
	height: 1600px;
}
.mov {padding: 100px 0; position: relative;}
.mov h2 {margin-top: -50px; font-size: 30px; font-weight: 500; margin-bottom: 20px;margin-left: 25px;}
.mov .mov_left {position: relative; margin-right: 500px; margin-left: 35px; height: 550px; background: #ccc center; background-size: cover;}
.mov .mov_left .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px;}

.mov .mov_right {position: absolute; right: 0; top: 109px; width: 440px; margin-right: 35px; height: 550px; padding: 34px; box-sizing: border-box; background: #f0f0f0;}
.mov .mov_right .title { width: 400px; font-size: 32px; color: #000;}
.mov .mov_right .release {font-size: 12px; color: #333;}
.mov .mov_right .posters>img{width: 170px; height: 234px; float: right; margin-top: -50px; margin-right: -15px;
}
.mov .mov_right .summary {font-size: 14px;margin-top: 10px;}
.mov .mov_right .genre {padding-bottom: 3px;}
.mov .mov_right .age {padding-bottom: 10px;}
.mov .mov_right .desc {margin-bottom: 10px; margin-top: 15px; height: 108px; overflow: hidden;}

.mov .mov_right .select {overflow: hidden;}
.mov .mov_right .select .s1 {float: left; width: 49%; background: #000; margin-right: 2%;}
.mov .mov_right .select .s2 {float: left; width: 49%; background: #000;}
.mov .mov_right .select .s3 {float: left; width: 100%; margin-top: 2%;}
.mov .mov_right .btn {overflow: hidden; margin-top: 1%; text-align: center;}
.mov .mov_right .btn a {float: right; width: 49%; display: block; padding: 10px 30px 12px 30px;}
.mov .mov_right .btn a.purple {
	background-color: #1525bd; color: #fff; border: 1px solid #1525bd; margin-top: 40px fixed;

}
.mov .mov_right .btn a.white {background-color: #fff; margin-right: 2%; color: #3a0e6a; border: 1px solid #3a0e6a;margin-top: 40px fixed;}



.revh1{
text-align: center;	}
.writefo {
	width: 100%;height: 20%;display: flex;align-items: center;justify-content: center;background: rgba(0, 0, 0, 0.1); margin: 0 auto;
    width: 90%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  .star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
  }
  
  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
	width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: yellow;
    overflow: hidden;
    pointer-events: none;
  }
  
  .rev {
    margin-top: 20px;
    width: 80%;
  }
  
  .rev input {
    width: 100%;
    height: 200px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .submit {
    margin-top: 50px;
    width: 80%;
  }
  .submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
  }


/* footer */
footer {width: 100%;background: #333;padding: 100px 0px;border-top: 1px solid #888;}
footer .inner {width: 1180px;margin: 0px auto;}
footer .inner .upper {width: 100%;border-bottom: 1px solid #777;padding-bottom: 20px;}
footer .inner .upper::after {content: "";display: block;clear: both;
}
footer .inner .upper h1 {float: left;font: bold 24px/1 "arial";color: #666;
}
footer .inner .upper ul {float: right;
}
footer .inner .upper ul li {float: left;margin-left: 20px;
}
footer .inner .upper ul li a {font: bold 14px/1 "arial";color: #666;
}
footer .inner .lower {width: 100%;padding-top: 20px;
}
footer .inner .lower address {width: 100%;font: 12px/1.3 "arial";color: #777;margin-bottom: 20px;
}
footer .inner .lower p {width: 100%;font: 12px/1 "arial";color: #777;
}